name: Test Site Checker

on: [push]

jobs:
  test-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Make script executable
        run: chmod +x check_site.sh

      - name: Test Google (Should Pass)
        run: ./check_site.sh google.com
